@import url("basic.css");

td.votes {
  font-family: 'Courier New';
  font-weight: bold;
  color: #BBBBBB;
  font-size: 22px;
  align=center;
  width=50;}

td.countUp {
  color: #22AA22; }

td.countDown {
  color: #AA2222;}

a.votePic {
  margin-right: -10px;}

body {
    font-family: 'Georgia', serif;
    font-size: 17px;
    background-color: white;
    color: #000;
    margin: 2;
    padding: 0;
}

a.propTitle {
    color: #000000;
    text-decoration: none;}




/* -- body styles ----------------------------------------------------------- */

a {
    color: #004B6B;
    text-decoration: underline;
}
 
a:hover {
    color: #6D4100;
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Garamond', 'Georgia', serif;
    font-weight: normal;
    margin: 30px 0px 10px 0px;
    padding: 0;
}
div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    font-family: 'Garamond', 'Georgia', serif;
    font-weight: normal;
    margin: 30px 0px 10px 0px;
    padding: 0;
}
 
h1 { margin-top: 0; padding-top: 0; font-size: 240%; }
h2 { font-size: 180%; }
h3 { font-size: 150%; }
h4 { font-size: 130%; }
h5 { font-size: 100%; }
h6 { font-size: 100%; }
 
 
div.body p, div.body dd, div.body li {
    line-height: 1.4em;
}


div.flash {
  color: #FF1111;
  margin-right: 3em;
  font-family: Arial;
  font-weigth: bold;
}

div.admonition p.last {
    margin-bottom: 0;
}

div.highlight {
    background-color: white;
}

dt:target, .highlight {
    background: #FAF3E8;
}

div.note {
    background-color: #eee;
    border: 1px solid #ccc;
}
 
div.seealso {
    background-color: #ffc;
    border: 1px solid #ff6;
}
 
div.topic {
    background-color: #eee;
}
 
p.admonition-title {
    display: inline;
}
 
p.admonition-title:after {
    content: ":";
}

pre, tt {
    font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.9em;
}

dl {
    margin: 0;
    padding: 0;
}

dl dd {
    margin-left: 30px;
}

blockquote {
    margin: 0 0 0 30px;
    padding: 0;
}

ul, ol {
    margin: 10px 0 10px 30px;
    padding: 0;
}
 
pre {
    background: #eee;
    padding: 7px 30px;
    margin: 15px -30px;
    line-height: 1.3em;
}

dl pre, blockquote pre, li pre {
    margin-left: -60px;
    padding-left: 60px;
}

dl dl pre {
    margin-left: -90px;
    padding-left: 90px;
}
 


tt.xref, a tt {
    background-color: #FBFBFB;
    border-bottom: 1px solid white
}

a.reference {
    text-decoration: none;
    border-bottom: 1px dotted #004B6B;
}



div.metanav em {
  color:#22EE22;
  font-weight: normal;
  font-style: normal;}

div.propInfo {
  font-size: 75%;
  }

div.propInfo a {
  margin-right:1em;} 

div.comments td {
  border:thin;
  border-spacing: 2px;}

div.pagehead {
  background-color: #DDDDEE;}

div.page {
  width:800px; 
  margin: 30px auto 0 auto;}

div.proposalhead {
  background-color: #DDDDEE;}
