<!doctype html>
<title>Liquid Democracy Light</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=pagehead>
  <table cellspacing="0px"><tr><td valign=top width="500"> <h1>Liquid Democracy Light</h1> </td>
          <td>
           <div class=metanav>
           {% if not session.logged_in %}
             <a href="{{ url_for('login') }} " style="margin-left:3em; margin-right:2em;">Log in</a> 
             <a href="{{ url_for('signin') }}" style="margin-left:3em; margin-right:2em;">Neu Anmelden</a>
           {% else %}
             <a href="{{ url_for('logout') }}" style="margin-left:3em; margin-right:6em;">Log out</a>
             Eingeloggt als: <em>{{ session.username }}</em>
           {% endif %}  
           </div> 
         <tr> <td> </td>       
              <td> <a href="" style="margin-left:3em; margin-right:2em;"><b>Instanzen</b></a> 
                   <a href="" style="margin-left:3em; margin-right:2em;"><b>Vorschläge</b></a> 
                   <a href="" style="margin-left:3em; margin-right:2em;"><b>Benutzer</b></a>  
              </td>
         </tr>  
    </table>
  <hr style="color:black; background-color:black; height:3px;
          border:2px;">
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  <div class=page>
  {% block body %}{% endblock %}
  </div>
<hr style="color:black; background-color:black; height:3px;
          border:2px;">

