{% extends "layout.html" %}
{% block body %}
  <h2>Login {% if g.i_eid %} für Instanz {{ g.i_eid|i_eid2title }} {% endif %}</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %} 
  {% if g.i_eid %}
    <form action="{{ url_for('login_instance', i_eid=g.i_eid) }}" method=post>
  {% else %}
    <form action="{{ url_for('login') }}" method=post>
  {% endif %}
    <dl>
      <dt>Username:
      <dd><input type=text name=username value="{{ session.username }}">
      <dt>Passwort:
      <dd><input type=password name=password>
      {% if not g.i_eid %} 
      <dt>Instanz:
      <dd><select name=instancetitle> 
             {% for i in instances %} 
             <option> {{ i.title }}</option>
             {% endfor %}
          </select> 
      {% endif %}
      <dd><input type=submit value=Login>
    </dl>
  </form> 
{% endblock %}
