{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <h2> Neuer Vorschlag </h2>
    <form action="{{ url_for('add_proposal') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=40 name=title>
        <dt>Text:
        <dd><textarea name=body rows=7 cols=50></textarea>
        <dd><input type=submit value=Speichern>
      </dl>
    </form>
  {% endif %}
  <h2> Bisher erstellte Vorschl&auml;ge </h2>
  {% for entry in entries %}
    <table class=entries>
    <tr><td class=votes align=center width=50> 
        <table class=voteCounts>
             <tr><td> {% if not entry.upvoted %}
                       <a href="{{ url_for('vote_up', prop_id=entry.eid) }}" class=votePic><img 
                          src="{{ url_for('static',filename='arrows_up_inactive.png') }}" alt="dafuer" width=24 align=left></a> 
                    {% else %}
                       <img src="{{ url_for('static',filename='arrows_up_active.png') }}" alt="dafuer" width=24 align=left>
                    {% endif %} 
               </td> <td class=countUp>+{{ entry.voteCountUp }}</td> 
             <tr><td>
               {% if not entry.downvoted %} 
                  <a href="{{ url_for('vote_down', prop_id=entry.eid) }}"><img 
                     src="{{ url_for('static',filename='arrows_down_inactive.png') }}" alt="dagegen" width=24 align=left></a>
               {% else %}
                    <img src="{{ url_for('static',filename='arrows_down_active.png') }}" alt="dagegen" width=24 align=left>
               {% endif %}
                </td> <td class=countDown>{{ entry.voteCountDown }}</td>
              </tr>
           </table>
          </td> <td><h3><a href="{{ url_for('show_single_proposal', prop_id=entry.eid) }}"
                           class=propTitle>{{ entry.title }}</a></h3>
                                                                                           {{ entry.body|safe }} </td>
    <tr>  <td> </td> <td><div class=propInfo>
            <a href="{{ url_for('delete_proposal', prop_id=entry.eid) }} ">l&ouml;schen</a> 
            <a href="">editieren</a>
            Erstellt vor {{ entry.created }}  {% if entry.username %} durch <a href="{{ url_for('show_person',
            person_id=entry.userid) }}"> {{ entry.username }}.</a>{% endif %}
         </div></td> </tr> </table>
      <hr style="color:black; background-color:black; height:1px;
            border:1px; ">
    {% else %}
      <tr><em>Unbelievable.  No entries here so far</em></tr>
  {% endfor %}
{% endblock %}
