{% extends "layout.html" %}
{% block body %}
  {% if session.isAdmin %}
    <h2> Neue Instanz anlegen? </h2>
    <form action="{{ url_for('add_instance') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=40 name=title>
        <dt>Text:
        <dd><textarea name=body rows=7 cols=50></textarea>
        <dd><input type=submit value=Speichern>
      </dl>
    </form>
  {% endif %}
      <h1> Instanzen </h1> 
  <table>
  {% for instance in instances %}
     <tr> <h3><a href="{{ url_for('show_proposals', i_eid=instance.eid) }}"
                   class=propTitle>{{ instance.title }}</a></h3> {{ instance.body|safe|iconize }}  </tr>
     
       <tr> <div class=propInfo>Benutzer: {{ instance.numberUsers}}, Votes: {{ instance.numberVotes }}, 
            Vorschläge: {{ instance.numberProposals }}, Kommentare: {{ instance.numberComments }} </div> 
       </tr>
      <hr style="color:black; background-color:black; height:1px;
            border:1px; ">
  {% else %}
      <tr><em>Noch keine Instanzen vorhanden</em></tr>
  {% endfor %}
  </table>
{% endblock %}

