{% extends "layout.html" %}
{% block body %}
  <h2>Neu Anmelden {% if g.i_eid %} für Instanz {{ g.i_eid|i_eid2title }} {% endif %}</h2>
  {% if error %}<p class=error><strong>Fehler:</strong> {{ error }}{% endif %}
  {% if not g.i_eid %} <p class=error><strong>Fehler:</strong> Bitte 
     <a href="{{ url_for('show_instances') }}">Instanz</a> wählen! </p> 
  {% else %}
  <table> <tr> <th> <h4>Neuen Benutzer erstellen</h4></th> <th></th><th> <h4> Vorhandenen Benutzer hinzufügen</h4> </th> </tr><tr valign="top"> 
  <td>
  <form action="{{ url_for('signin', i_eid=g.i_eid) }}" method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name=username>
      <dt>Vorname:
      <dd><input type=text name=vorname>
      <dt>Nachname:
      <dd><input type=text name=nachname>
      <dt>Email-Adresse:
      <dd><input type=text name=email>
      <hr>
      <dt>Passwort:
      <dd><input type=password name=password1>
      <dt>Passwort nochmals eingeben:
      <dd><input type=password name=password2>
      <dd><input type=submit value="Benutzer anlegen">
    </dl>
  </form> </td>  <td width=100> </td>
  <td> 
   <form action="{{ url_for('signin', i_eid=g.i_eid) }}" method=post>
    <dl align="left">
      <dt>Username:
      <dd><input type=text name=username1>
      <dt>Passwort:
      <dd><input type=password name=password>
      <dd><input type=submit value="Vorhandenen Benutzer anlegen">
    </dl>
  </form> 
  </td> 
  </tr> </table>
  {% endif %}
{% endblock %}
